<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes</title>
</head>

<body>
    
    <form class="form" method="POST" enctype="multipart/form-data" action="http://localhost:3000/foodRegister/imageUpload">
        <input type="text">
        <input type="text">
        <input type="file" name="img"><br>
        <button type="submit">enviar</button>
    </form>
    <div id = "myDIV"></div>

   <!--  <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
        <input type="file" name="img"/><br/><br/>
    </form>

    <button type = "button" onclick="sendNudes()">Enviar</button>
    <h1>Ajax Post Result</h1>
<span id="result"></span> -->



    <!-- <input type="file" id="file"></input>
    <button type="button" onclick="sendNudes()">Enviar</button> -->
    
    <script src="../public/javascripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   
        
</body>

</html>